:root {
  --brutal-blue: #38dbff;
  --brutal-orange: #ffb443;
  --brutal-red: #ff5d5d;
  --brutal-yellow: #fff503;
  --brutal-green: #00ff75;
  --brutal-purple: #dd7dff;
  --brutal-black: #000000;
  --brutal-cream: #fff0dc;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: var(--brutal-cream);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


